<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <title>Document</title>
</head>
<body>
    <main>
        <div class="login">
            <div class="logo">
                <h1>Live-Chat</h1>
            </div>
            <form action="#" method="get">
                <input class="input-text" type="text" placeholder="Username" autocomplete="off" required>
                <button class="btn btn-dark" type="submit" disabled>Entrar</button>
            </form>
        </div>
    </main>
</body>
</html>