{% extends "base.html" %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">    

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
{% endblock %}


{% block content %}
<main>
    <section class="login pb-3">
        <header class="logo">
            <img src="{{ url_for('static', filename='img/logo-fundo-branco.png') }}" width="200" alt="">
        </header>
        <form action="/login" method="post">
            <input class="input-text" type="text" name="username" id="username" placeholder="Username" autocomplete="off" required>
            <span id="alerta-caracteres" class="mt-2" style="color:var(--salmao); font-size:.8rem">* Mais que 5 caracteres.</span>
            <button class="button button-dark disabled" type="submit" disabled>Entrar</button>
        </form>
    </section>
</main>
{% endblock %}
