{% extends "base.html" %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/room.js') }}" defer></script>
{% endblock %}


{% block content %}
<main>
    <header align="center">
        <button onclick="window.location.href = '/'" class="float-start button button-salmao m-3 mb-0 p-4 pt-2 pb-2">< Voltar</button>
        <img src="{{ url_for('static', filename='img/logo-fundo-azul.png') }}" width="120px" alt="">
    </header>
    <section class="">    
        <aside>
            <div class="people-online">

            </div>
        </aside>
        <div class="chat-box">
            <div class="chat-msgs">

            </div>
            <div class="send-msg pt-2">
                <div class="input-group">
                    <input class="form-control" type="text">
                    <button class="button button-salmao">Enviar</button>
                    <i class="bi bi-send"></i>
                </div>
            </div>
        </div>    
    </section>
</main>
{% endblock %}