{% extends "base.html" %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/rooms.css') }}">

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/rooms.js') }}" defer></script>
{% endblock %}


{% block content %}
<main>
    <section>
        <header align="center" class="m-0">
            <img src="{{ url_for('static', filename='img/logo-fundo-branco.png') }}" width="200" alt="logo-fundo-branco">
        </header>
        
        <div class="username mb-2">
            <strong>Username: </strong>
            <span>@{{username}}</span>
            <input type="hidden" name="username" id="username" value="{{username}}">
            <input type="hidden" name="user_id" id="user_id" value="{{user_id}}">
        </div>        
        <div class="container">            
            <table class="table table-borderless rooms">
                <thead>
                    <tr>
                        <th class="text-center" scope="col" colspan="2">Salas Disponíveis</th>
                    </tr>                    
                </thead>
                <tbody>
                    {% for room in rooms_list %}
                    <tr id="{{room[0]}}" onclick="redirect(this.id)">
                        <td>{{room[1]}}</td>
                        <td style="text-align: right;">{{room[2]}}<i class="bi m-2 pb-2 bi-people-fill"></i></td>
                    </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div align="center">
            <button class="button button-azul-escuro" data-bs-toggle="modal" data-bs-target="#modalCriarSala">
                <strong>+</strong> Criar nova sala
            </button>
        </div>
    </section>
    

<!-- Modal Criar Nova Sala -->
<div class="modal fade" id="modalCriarSala" tabindex="-1" aria-labelledby="criarSalaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Nova Sala</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/rooms" method="post">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control input-text" name="sala_nome" id="sala_nome" placeholder="Nome da sala" required autocomplete="off">
                        <label for="sala_nome">Nome da sala</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="button button-outline-salmao">Criar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</main>
{% endblock %}