{% extends "base.html" %}


{% block head %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">

<!-- Javascript -->
<script src="{{ url_for('static', filename='js/room.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/socketio.js') }}" defer></script>
{% endblock %}


{% block content %}
<main>
    <header align="center">
        <button id="logoutButton" onclick="logout()" class="float-start button button-azul-escuro m-3 mb-0 p-4 pt-2 align-top pb-2">< Sair</button>
        <img src="{{ url_for('static', filename='img/logo-fundo-branco.png') }}" height="100%" alt="">
    </header>
    
    <input type="hidden" id="username" value="{{username}}">
    <input type="hidden" id="room_id" value="{{room_id}}">
    <input type="hidden" id="user_id" value="{{user_id}}">

    <section class="">    
        <aside>
            <div class="people-online">
                <!-- Lista com usuários online -->
            </div>
        </aside>
        <div class="chat-box">
            <div class="chat-msgs">
                <!-- Mensagens do chat sao adicionadas aqui -->
            </div>            
            <div class="send-msg pt-2">
                <form id="msgSender" action="/" enctype="multipart/form-data" class="input-group">
                    <input class="form-control" type="text">
                    <button type="submit" id="sendButton" class="button button-azul-escuro">Enviar</button>                    
                </form>
            </div>
        </div>    
    </section>
</main>
{% endblock %}